
*
{
    box-sizing: border-box;
}

html
{
    font-family: $font-main;
    font-size: $font-size;

    overflow-y: scroll;

    color: $color-gray;
}

h1
{
    font-family: $font-header;

    @include lg-min
    {
        font-size: 3.75rem;
    };
    @include lg-md
    {
        font-size: 2.5rem;
    };
    @include md
    {
        font-size: 1.875rem;
    }
}

h2
{
    font-family: $font-header;

    color: $color-primary;
    @include lg-min{
      margin-bottom: 56px;
      font-size: 2.5rem;
    }
    @include lg-md{
      margin-bottom: 42px;
      font-size: 2rem;
    }
    @include md-sm{
      margin-bottom: 36px;
      font-size: 1.5rem;
    }
    @include sm{
      margin-bottom: 36px;
      text-align: center;
      font-size: 1.5rem;
    }
}

h3{
    letter-spacing: 0.05em;
    color: $color-gray;
    font-size: 1.125rem;
}

a
{
    text-decoration: none;

    color: $color-light;
}

p{
    color:$color-gray;
}
input{
    outline: none;
}

.btn,
.btn-accent {
  display: block;

  transition: background-color 0.5s;
  text-align: center;
  letter-spacing: 0.1em;
}

.btn {
  border: 2px solid $color-light;
  //background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba($color-light, 0.1);

  @include lg-min {
    min-width: 250px;
    height: 60px;
    padding: 18px $gap;

    font-size: 1.125rem;
  }
  @include lg-md {
    min-width: 200px;
    height: 50px;
    padding: 14px $gap;
  }
  @include md {
    min-width: 170px;
    height: 40px;
    padding: 10px $gap;

    letter-spacing: 0.05em;
  }
}

.btn-accent {
  height: 60px;
  padding: 18px $gap;

  border: 2px solid $color-primary;
  //background-color: rgba(45, 54, 81, 0.1);
  background-color: rgba($color-primary, 0.8);

  font-size: 1.125rem;

  @include sm-min {
    min-width: 350px;
  }
  @include sm {
    width: 100%;
  }
}

.btn:hover,
.btn:focus,
.btn-accent:hover,
.btn-accent:focus {
  background-color: $color-accent;
}