
.header-content{
    position: relative;

    &_container
    {
      display: grid;}

       
      
      @extend %container;
    

    &__title
    {
        font-weight: 300;
        line-height: 1.2;

        text-align: center;
        letter-spacing: .08em;

        color: $color-light;

        @include lg-min
        {
            margin: 0 0 53px 0;
        }
        @include lg-md
        {
            margin: 0 0 43px 0;
        }
        @include md
        {
            margin: 0 0 33px 0;
        }
    }

    &__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    
       
        @include sm {
          align-items: center;
          flex-direction: column;
        }
        .btn{
          @include lg-md{
            min-width: 200px;
            height: 50;
            padding-top: 14px;
            padding-bottom: 14px;
            letter-spacing: 0.1em;
            font-size: 1rem;
            :not(:last-of-type){
              margin-right: 20px;
            }
          }
          @include lg-min{
            min-width: 250px;

            :not(:last-of-type){
              margin-right: 20px;
            }
          }
          @include md-sm{
            min-width: 170px;
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            letter-spacing: 0.05em;
            font-size: 1rem;

            :not(:last-of-type){
              margin-right: 20px;
            }
          }
           @include sm{
            min-width: 170px;
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            letter-spacing: 0.05em;
            font-size: 1rem;
            
            :not(:last-of-type){
              margin-bottom: 20px;
            }
           }
            
          }
        }
        
          
    }
 

