
.header-content {
  position: relative;

  width: 100%;

  &__container {
    @extend %container;
  }

  &__title {
    text-align: center;
    letter-spacing: 0.08em;

    color: $color-light;

    font-weight: 300;
    line-height: 1.2;

    @include lg-min {
      margin: 0 0 53px 0;
    }
    @include lg-md {
      margin: 0 0 43px 0;
    }
    @include md {
      margin: 0 0 33px 0;
    }
  }

  &__buttons {
    display: flex;

    @include sm-min {
      justify-content: center;
    }
    @include sm {
      align-items: center;
      flex-direction: column;
    }
    .btn{
      @include sm{
        min-width: 170px;
        height: 40;
        padding-top: 10px;
        padding-bottom: 10px;
        letter-spacing: 0.05em;
        font-size: 1rem;

      }
      @include lg-min{
        min-width: 250px;
      }
    }

    .btn:first-of-type {
      @include sm-min {
        margin-right: $gap;
      }
      @include sm {
        margin-bottom: $gap;
      }
    }
  }
}